
  <div class='text-center'> 
    <%=form_tag(users_path,:method => 'get')do %>
      <%= text_field_tag :search , '',class:"search-form2",placeholder: "○○さんなど"%>
      <%= button_tag( class: "search-btn2") do %>
         <%= content_tag :span, "", class: "fa fa-search" %>
      <% end %>
    <% end %>
  </div>
    <div class="row">
     <% @users.each do |users| %>
      <div class="col-md-3 col-xs-3 col-xs-4">
         <div class="card">
              <div class="card-heading">
                <p class="item-title"></p>
              </div>
              <div class="card-body text-center">
              　 <% if users.image? %>
                    <%= image_tag users.image.thumb.url  ,class:"img-circle text-center",:size =>'90x90'%>
                 <% else %>
                    <%= image_tag avatar_url(users) ,class:"img-circle text-center",:size =>'90x90'%>
                 <% end %>
                  <p class="text-center"><%= link_to users.name,user_path(users)%></p>
                  <p class="text-center"><%= users.introduction%></p>
              </div>
          </div>
      </div>
      <% end %>
    </div>