<div class='row'>
  <div class='row2'>
   <div class="user-profile">
    <div class="icon text-center">
      <img src="<%= gravatar_url(@user, size: 100) %>" alt="" class="img-circle">
      <a class='box'><%= render 'relationships/follow_button',user: @user%></a>
    </div>
    <% if current_user == @user %>
      <div class='id'><%= link_to 'プロフィール編集', edit_user_path(current_user),class: 'btn btn-default' %></div>
    <% end %>
    <div class="name text-center">
      
      <p class='box'><%= @user.name%></p>
      <p><%= @user.introduction%></p>
      <p>投稿 <%= @count_post %>件　 <span data-toggle="modal" data-target="#sampleModal">フォロー  </span><%= @count_followings %>人    <span data-toggle="modal" data-target="#sampleModal2">フォロワー</span> <%= @count_followers %>人</p>
    </div>
    
  </div>
  <%= render 'posts/posts', posts: @posts%>
  </div>
</div>


<!-- モーダル・ダイアログ(フォロー) -->
<div class="modal fade" id="sampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content col-md-8 col-md-offset-2">
			<div class="modal-header">
				 <button type='button' class='close' data-dismiss="modal" aria-label='Close'>
            <span aria-hidden="true">×</span>
         </button>
				<h4 class="modal-title text-center">フォロー</h4>
			</div>
			<div class="modal-body">
				<%= render 'followings', followings: @followings%>
			</div>
		</div>
	</div>
</div>
    
<!-- モーダル・ダイアログ(フォロワー) -->
<div class="modal fade" id="sampleModal2" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content col-md-8 col-md-offset-2">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title text-center">フォロワー</h4>
			</div>
			<div class="modal-body">
				<%= render 'followers', followers: @followers%>
			</div>
		</div>
	</div>
</div>
           
            
               
             
