<div class="user-profile">
    <div class="icon text-center">
    	<% if @user.image? %>
                  <%= image_tag @user.image.thumb.url  ,class:"img-circle",:size =>'150x140'%>
        <% else %>
                   <%= image_tag avatar_url(@user) ,class:"img-circle",:size =>'150x140'%>
        <% end %>
      <a class='box'><%= render 'relationships/follow_button',user: @user%></a>
    </div>
    <% if current_user == @user %>
      <div class='id'><%= link_to 'プロフィール編集', edit_user_path(current_user),class: 'btn btn-default' %></div>
    <% end %>
    <div class="name text-center">
      <h1><%= @user.name%></h1>
      <%= @user.introduction%>
    </div>
  <div class="status text-center">
    <ul>
      <li>
        <div class="status-label">投稿</div>
        <div id="want_count" class="status-value">
          <%= @count_post %>
        </div>
      </li>
      <li>
        <div class="status-label"><span data-toggle="modal" data-target="#sampleModal"> フォロー </span></div>
        <div id="have_count" class="status-value">
          <%= @count_followings %>
        </div>
      </li>
      <li>
        <div class="status-label">  <span data-toggle="modal" data-target="#sampleModal2">フォロワー </span> </div>
        <div id="have_count" class="status-value">
          <%= @count_followers %>人
        </div>
      </li>
    </ul>
  </div>
</div>
    
  </div>
  <%= render 'posts/posts', posts: @posts%>
  </div>


<!-- モーダル・ダイアログ(フォロー) -->
<div class="modal fade" id="sampleModal" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content col-md-8 col-md-offset-2">
			<div class="modal-header">
				 <button type='button' class='close' data-dismiss="modal" aria-label='Close'>
            <span aria-hidden="true">×</span>
         </button>
				<h4 class="modal-title text-center">フォロー</h4>
			</div>
			<div class="modal-body">
				<%= render 'followings', followings: @followings%>
			</div>
		</div>
	</div>
</div>
    
<!-- モーダル・ダイアログ(フォロワー) -->
<div class="modal fade" id="sampleModal2" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content col-md-8 col-md-offset-2">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
				<h4 class="modal-title text-center">フォロワー</h4>
			</div>
			<div class="modal-body">
				<%= render 'followers', followers: @followers%>
			</div>
		</div>
	</div>

           
            
               
             
