<div class='col-xs-12'>
    <% if logged_in? %>
      <div class='toppage'>
        <%= render 'posts/timeline', posts: @posts%>
          <div class='ranking'><%= render 'posts/ranks', rank: @rank%>
          </div>
           <div class="button" id='post-button'>
              <%= link_to new_post_path do%>
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                      <span class='color'>投稿する</span>
              <% end %>
           </div>
      </div>
    <% else %>
        <div class="row">
          <div class='col-xs-12'>
            <%= content_for :cover do%>
            <div class="cover">
              <div class="cover-inner">
                <div class="cover-contents">
                  <h1 class="text-center">一人旅の思い出シェアしませんか？</h1>
                     <h1 class="text-center">ひとりっぷへようこそ</h1>
                      <%= link_to '新規登録へ', signup_path, class: "id" %>
                      <%= link_to 'ログインへ', login_path,class: 'login'%>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <%=render 'layouts/toppage2' %>
      <%= render 'layouts/toppage3'%>
      <%= render 'layouts/footer'%>
    <% end %>
  </div>

        
         
          
    
    
