<div class="raking-modal">
  <div class="col-md-offset-1 col-md-4 col-sm-offset-3 col-sm-2">
    <div class='ranking'>
        <h1 class="fa fa fa-heart-o">いいねランキング</h1>
        <img src="/iamges/ranking.jpg">
        <img src="/images/シンプルな王冠素材.png">
         <table class='table'>
           <thead>
              <tr>
                 <th class='text-center'>順位</th>
                 <th class='text-center'>タイトル</th>
                 <th class='text-center'>投稿者</th>
              </tr>
           </thead>
           <% rank.each.with_index(1) do |rank, i| %>
           <tbody>
             <tr>
               <!--- 第一位--->
               <th class='text-center'><%= "第#{i}位" %></th>
               <th class='text-center'><%= rank.name%></th>
               <th class='text-center'>
               	  <% if rank.user.image? %>
                    <%= image_tag rank.user.image.thumb.url  ,class:"img-circle",:size =>'30x30'%>
                  <% else %>
                     <%= image_tag avatar_url(rank.user) ,class:"img-circle",:size =>'30x30'%>
                  <% end %>
                 <%= link_to rank.user.name, user_path(rank.user)%></th>
                 <!--- 第２位--->
               </tr>
           </tbody>
           <% end %>
         </table>
         </div>
      </div>
  </div>