
<!--- 投稿有無の条件分岐---> 
  <% if posts.empty?%>
  <% else %>
    <% posts.each do |postings| %>
          <div class="col-md-5 offset-md-2 col-sm-4 offset-sm-2">
            <div class="card">
              <div class="card-header align-items-center d-flex">
                <div class="user">
                　　<% if postings.user.image? %>
                      <%= image_tag postings.user.image.thumb.url  ,class:"img-circle",:size =>'30x30'%>
                    <% else %>
                       <%= image_tag avatar_url(postings.user) ,class:"img-circle",:size =>'30x30'%>
                    <% end %>
                    <%= link_to postings.user.name,user_path(postings.user),class: "user-name"%>
                    <%= link_to postings.name ,postings,class: "timeline-post-name"%>
                </div>
              </div>
              <div class="card-body" style="height: 480px;">
                      <%=link_to postings do%>
                      　<%= image_tag postings.image.thumb.url ,class: "image", :size =>'30%x30%'%>
                      <% end%>
              </div>
            </div>
          </div>
      <% end %>
    </div>
  <% end %>
