<div class='timeline'>
  <% if posts.empty?%>
   
  <% else %>
    <% posts.each do |postings| %>
        <div class="post">
          <div class="col-md-5 col-md-offset-2 col-sm-5 col-sm-offset-2">
            <div class="panel panel-default">
              <div class="panel-heading text-center">
                <p class="timeline-itemt-title"><%= link_to postings.name ,postings%></p>
                <p class='item-title3'>
                　　<% if postings.user.image? %>
                      <%= image_tag postings.user.image.thumb.url  ,class:"img-circle",:size =>'30x30'%>
                    <% else %>
                       <%= image_tag avatar_url(postings.user) ,class:"img-circle",:size =>'30x30'%>
                    <% end %>
                     <%= link_to  postings.user.name,user_path( postings)%>
                </p>
              
                
              </div>
              <div class="panel-body">
                      <%=link_to postings do%>
                      　<%= image_tag postings.image.thumb.url ,:size =>'570x335'%>
                      <% end%>
  
                
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>