<div class="row">
  <% @posts.each do |posted| %>
          <div class="col-md-4">
            <div class="card">
              <div class="card-header text-center">
                <%= link_to posted.name,posted %>
                  <% if posted.user.image? %>
                    <%= image_tag posted.user.image.thumb.url  ,class:"img-circle",:size =>'20x20'%>
                  <% else %>
                     <%= image_tag avatar_url(posted.user) ,class:"img-circle",:size =>'20x20'%>
                  <% end %>
                  <%=link_to posted.user.name, user_path(posted.user)%>
              </div>
              <div class="card-body">
                <% if posted.image? %>
                　<%= image_tag posted.image.thumb.url,class: "image" %>
                　<% else %>
                　<%= image_tag 'noimage.gif' ,class: "image"%>
              　<% end %>
              </div>
            </div>
          </div>
      <% end %>
</div>