<div class="row">
   <div class="col-md-5 col-sm-offset-1 col-sm-5 col-sm-offset-1 col-xs-12">
        <div class="card card1">
            <div class="card-header align-items-center d-flex card1">
              <p class="item-user-name">
                 　<% if  @post.user.image? %>
                      <%= image_tag  @post.user.image.thumb.url  ,class:"img-circle",:size =>'30x30'%>
                    <% else %>
                       <%= image_tag avatar_url( @post.user) ,class:"img-circle",:size =>'30x30'%>
                    <% end %>
                   <%= link_to @post.user.name,user_path(@user)%>
              </p>
               <p class="itemt-title"><%= @post.name%></p>
              <p class="trash-icon text-right">
              <% if @post.user == current_user%>
                 <a href="#" class="fa fa-trash fa-2x text-right"></a>
              <% end %>
              </p>
              
            </div>
            <div class="card-body card1">
               <% if @post.image? %>
              　<%= image_tag @post.image.thumb.url ,:size =>'570x380'%>
              　<% else %>
              　<%= image_tag 'noimage.gif' %>
            　<% end %>
              
            </div>
            <div class="card-footer card1">
              <div id="like-icon-post-<%= @post.id.to_s %>">
              <% if @post.liked_by(current_user).present? %>
                <%= link_to "", like_path(@post.liked_by(current_user)), method: :DELETE, remote: true, class: "fa fa-2x fa-heart" %>
                 <%=@likes_count %>
              <% else %>
                <%= link_to "", post_likes_path(@post), method: :POST, remote: true, class: "fa fa-2x fa-heart-o" %>
                 <%=@likes_count %>
              <% end %>
            </div>
         　<p class="pv-count">PV<%=  @post.impressionist_count %></p>
           <p><%= @post.content%></p>
            </div>
          </div>
         </div> 
 
    <div class='col-xs-12 col-md-offset-1 col-md-5 col-sm-5 col-sm-offset-1'> 
      <ul class="media-list">
          <li class="media">
              <div class="media-left">
                  　<% if  current_user.image? %>
                      <%= image_tag  current_user.image.thumb.url  ,class:"img-circle",:size =>'50x50'%>
                    <% else %>
                       <%= image_tag avatar_url( current_user) ,class:"img-circle",:size =>'50x50'%>
                    <% end %>
              </div>
              <div class='media-body'>
                 <div>
                 <%= link_to current_user.name,user_path(current_user)%>
                 </div>
                 <div class='comment'>
                          <%= form_for [@post, @comment] do |f| %>
                          <%= f.text_field :content ,class: 'comment-text'%>
                          <%= f.hidden_field :user_id, :value => current_user.id %>
                          <%= f.hidden_field :post_id, :value => @post.id %>
                          <%= button_tag(class: 'comment-submit')do %>
                            <%= content_tag :span, "コメント",class:"fa fa-comments"%>
                          <% end %>
                    <% end %>
                 </div>
              </div>
          </li>
      </ul>
        
      <ul class="media-list">
       <% @comments.each do |c| %> 
        <li class='media'>
              
            <div class='media-left'>
               　<% if  c.user.image? %>
                      <%= image_tag  c.user.image.thumb.url  ,class:"img-circle",:size =>'50x50'%>
                    <% else %>
                       <%= image_tag avatar_url( c.user) ,class:"img-circle",:size =>'50x50'%>
                    <% end %>
                <!--コメント-->
            </div>
               <div class='media-body'>
                 <div>
                   <%= link_to c.user.name,user_path(c.user)%>
                 </div> 
                 <div> 
                 
                  <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                    <span class='gravatar'>
                                &#8230;
                      </span></a>
                    <ul class="dropdown-menu">
                      <li><a href="#">編集</a></li>
                        <li role="separator" class="divider"></li>
                      <li><a href="#">削除</a></li>
                    </ul>
                    </div>
                  <%= c.content %> 
                 </div>
                  <hr>
               </div>
        </li>
        <% end %>
      </ul> 
    </div>
</div>

